# Ignore node_modules for projects with JavaScript dependencies
node_modules/

#ignore html-css-din24s repo
din24-html-css

# Logs
logs/
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp

# Operating System files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Cache files
.cache/
.cache-loader/
.parcel-cache/

# Sass cache
.sass-cache/

# Temporary builds
dist/
build/
out/

# Environment variables
.env
.env.local
.env.*.local

# MacOS file
.DS

